<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669231682418-p9o4orcsj9kemcarupol383f2nad3c7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669231682418-p9o4orcsj9kemcarupol383f2nad3c7u</string>
	<key>API_KEY</key>
	<string>AIzaSyBLrPjCtrfOcjJTBvaqVzNbTnnezcMEPBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>669231682418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agendacitas</string>
	<key>PROJECT_ID</key>
	<string>flutter-varios-576e6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-varios-576e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669231682418:ios:fd5a3e57b6230461d7c3eb</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-varios-576e6-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>